# Quick look at the data

In [219]:
import pandas as pd

In [220]:
col_names = ["Numero de cuenta", "Oficina", "Divisa", "Fecha operacion", "Fecha valor", 
               "Ingreso (+)", "Gasto (-)", "Saldo (+)", "Saldo (-)", "Concepto comun",
               "Concepto propio", "Referencia 1", "Referencia 2", "Concepto complementario 1",
               "Concepto complementario 2"]

finance = pd.read_csv("finance_2l_utf.csv", header = None, index_col=False, names = col_names_2, sep = ';')

In [221]:
finance.head(10)

,Numero de cuenta,Oficina,Divisa,Fecha operacion,Fecha valor,Ingreso (+),Gasto (-),Saldo (+),Saldo (-),Concepto comun,Concepto propio,Referencia 1,Referencia 2,Concepto complementario 1,Concepto complementario 2
0,2100 0889 40 0100978503,9736,EUR,17/04/2019,17/04/2019,NaN,"1,73","126,98",NaN,12,40,0,"4,59986E+15",,BON AREA
1,2100 0889 40 0100978503,9792,EUR,17/04/2019,17/04/2019,8,NaN,"128,71",NaN,2,2,0,ORIGEN: 00810900,00810900-ADRIA FERRER ABAD,TRANSF. A SU FAVOR
2,2100 0889 40 0100978503,9792,EUR,17/04/2019,17/04/2019,9,NaN,"120,71",NaN,2,2,0,ORIGEN: 00810053,00810053-PAU SAMPIETRO FABREGAS,TRANSF. A SU FAVOR
3,2100 0889 40 0100978503,9736,EUR,16/04/2019,16/04/2019,NaN,25,"111,71",NaN,12,40,0,"4,59986E+15",,PECUNIA CARDS EDE
4,2100 0889 40 0100978503,569,EUR,16/04/2019,16/04/2019,NaN,"35,08","136,71",NaN,3,1,0,20000005147,A66098435000,AIGUES DE BARC
5,2100 0889 40 0100978503,9736,EUR,13/04/2019,13/04/2019,NaN,1,"171,79",NaN,12,40,0,"4,59986E+15",,MCDONALDS PELAYO
6,2100 0889 40 0100978503,9736,EUR,11/04/2019,11/04/2019,NaN,3,"172,79",NaN,12,40,0,"4,59986E+15",,ANTIC TEATRE
7,2100 0889 40 0100978503,9736,EUR,11/04/2019,11/04/2019,NaN,25,"175,79",NaN,12,40,0,"4,59986E+15",,PECUNIA CARDS EDE
8,2100 0889 40 0100978503,9736,EUR,11/04/2019,11/04/2019,NaN,"2,2","200,79",NaN,12,40,0,"4,59986E+15",,IZ *Skye Coffee S
9,2100 0889 40 0100978503,9736,EUR,08/04/2019,08/04/2019,NaN,"41,55","202,99",NaN,12,40,0,"4,59986E+15",,PAYPAL *GRAMMARLY

In [222]:
finance.tail(10)

,Numero de cuenta,Oficina,Divisa,Fecha operacion,Fecha valor,Ingreso (+),Gasto (-),Saldo (+),Saldo (-),Concepto comun,Concepto propio,Referencia 1,Referencia 2,Concepto complementario 1,Concepto complementario 2
1215,2100 0889 40 0100978503,3002,EUR,08/05/2015,08/05/2015,210,NaN,"2.030,98",NaN,2,40,0,"4,59986E+15",,INGRESO CAJERO
1216,2100 0889 40 0100978503,3002,EUR,07/05/2015,07/05/2015,75,NaN,"1.820,98",NaN,2,40,0,"4,59986E+15",,INGRESO CAJERO
1217,2100 0889 40 0100978503,5000,EUR,07/05/2015,07/05/2015,"1.500,00",NaN,"1.745,98",NaN,2,48,0,,BEQUES I AJUTS 2014,GENERALITAT DE CA
1218,2100 0889 40 0100978503,9736,EUR,04/05/2015,04/05/2015,NaN,"28,15","245,98",NaN,12,40,0,"4,59986E+15",,PAYPAL *TELCELCOM
1219,2100 0889 40 0100978503,1198,EUR,03/05/2015,03/05/2015,NaN,50,"274,13",NaN,11,40,0,"4,59986E+15",,REINT.CAJERO
1220,2100 0889 40 0100978503,3002,EUR,01/05/2015,04/05/2015,290,NaN,"324,13",NaN,2,40,0,"4,59986E+15",,INGRESO CAJERO
1221,2100 0889 40 0100978503,9736,EUR,01/05/2015,01/05/2015,NaN,"8,99","34,13",NaN,12,40,0,"4,59986E+15",,PAYPAL *JEANNPOLC
1222,2100 0889 40 0100978503,820,EUR,22/04/2015,22/04/2015,NaN,"10,3","43,12",NaN,17,16,"7,90013E+11",Y1535445W79000,,IMP.AEAT-MOD:790
1223,2100 0889 40 0100978503,820,EUR,22/04/2015,22/04/2015,NaN,"10,6","53,42",NaN,17,16,"7,90013E+11",Y1703074F79000,,IMP.AEAT-MOD:790
1224,2100 0889 40 0100978503,9736,EUR,20/04/2015,20/04/2015,NaN,"7,55","64,02",NaN,12,40,0,"4,59986E+15",,ALIBRI LLIBRERIA

In [223]:
finance.info() # Found some null values in ["ingreso", "gasto"], ["saldo(+)", "saldo(+)"] -> seem to be complementary features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225 entries, 0 to 1224
Data columns (total 15 columns):
Numero de cuenta             1225 non-null object
Oficina                      1225 non-null int64
Divisa                       1225 non-null object
Fecha operacion              1225 non-null object
Fecha valor                  1225 non-null object
Ingreso (+)                  147 non-null object
Gasto (-)                    1078 non-null object
Saldo (+)                    1224 non-null object
Saldo (-)                    1 non-null object
Concepto comun               1225 non-null int64
Concepto propio              1225 non-null int64
Referencia 1                 1225 non-null object
Referencia 2                 1225 non-null object
Concepto complementario 1    1225 non-null object
Concepto complementario 2    1225 non-null object
dtypes: int64(3), object(12)
memory usage: 143.6+ KB

# Drop columns that are not necessary for this analysis

#### Critical data columns that won't be dropped are the following:

#### "Fecha operacion", "Ingreso (+)", "Gasto (-)", "Saldo (+)", "Saldo (-)", "Concepto complementario 1", "Concepto complementario 2"

In [224]:
finance["Numero de cuenta"].value_counts().count() # Account number is always the same because the data is from one single account -> UNNECESSARY

1

#### From now on same account number is assumed -> DROP

In [225]:
finance["Oficina"].value_counts().count()

28

#### There are 28 different offices -> Maybe this feature is useful in the future

In [226]:
finance["Divisa"].value_counts() # Account is european (shared currency EUR) and clearly hasn't had any other currency -> UNNECESSARY

EUR    1225
Name: Divisa, dtype: int64

#### From now on single EUR currency is assumed -> DROP

In [227]:
finance[finance["Fecha operacion"] != finance['Fecha valor']].count()[0] # There are 59

59

#### Some operations were finished pressumably days after the operation request -> Maybe 'Fecha valor' is useful in the future?

#### After having a look at tail of data it is safe to say that transactions follow "Fecha operacion" -> DROP "Fecha valor"

In [228]:
finance["Concepto comun"].value_counts().head()

12    936
2     145
11     56
4      35
3      35
Name: Concepto comun, dtype: int64

In [229]:
finance["Concepto propio"].value_counts().head()

40    1072
67      49
2       24
1       23
32      17
Name: Concepto propio, dtype: int64

#### Columns "Concepto comun" and "Concepto propio" are not clear what they mean -> UNCLEAR MEANING -> DROP

In [230]:
finance["Referencia 1"].value_counts()

0              1221
7,90013E+11       2
81809083119       1
81802330129       1
Name: Referencia 1, dtype: int64

In [231]:
finance["Referencia 2"].value_counts().head()

4,59986E+15         1069
                      63
20000005147           20
ORIGEN: 01823298      17
Origen: BARCGB22       7
Name: Referencia 2, dtype: int64

#### "Referencia 1" and "Referencia 2" give little to no information -> UNCLEAR MEANING -> DROP

In [232]:
finance["Concepto complementario 1"].value_counts().head()

                                          1136
A66098435000                                20
01823298-MIREIA GOMEZ GORDO                 17
JESSIE LEE DELGADILLO NEWMAN                 8
ROOFOODS SPAIN SL                            7
Name: Concepto complementario 1, dtype: int64

In [233]:
finance["Concepto complementario 2"].value_counts().head()

REINT.CAJERO                              57
LIDL C PUJADES                            54
CAFETERIA DEL MOL                         53
AMAZON.ES COMPRA                          53
MERCADONA RONDA S                         46
Name: Concepto complementario 2, dtype: int64

#### "Concepto complementario 1" is from where a incoming transaction is coming and "Concepto complementario 2" is to where -> Useful

In [234]:
finance['Saldo (-)'].value_counts()

-11,84    1
Name: Saldo (-), dtype: int64

#### There is only one row with negative balance, probably can be dropped after merging

In [235]:
to_drop = ["Numero de cuenta", "Divisa", "Concepto comun", "Concepto propio", "Referencia 1", "Referencia 2", 'Fecha valor']

finance.drop(to_drop, inplace=True, axis=1)

In [236]:
finance.head() # Result of dropping

,Oficina,Fecha operacion,Ingreso (+),Gasto (-),Saldo (+),Saldo (-),Concepto complementario 1,Concepto complementario 2
0,9736,17/04/2019,NaN,"1,73","126,98",NaN,,BON AREA
1,9792,17/04/2019,8,NaN,"128,71",NaN,00810900-ADRIA FERRER ABAD,TRANSF. A SU FAVOR
2,9792,17/04/2019,9,NaN,"120,71",NaN,00810053-PAU SAMPIETRO FABREGAS,TRANSF. A SU FAVOR
3,9736,16/04/2019,NaN,25,"111,71",NaN,,PECUNIA CARDS EDE
4,569,16/04/2019,NaN,"35,08","136,71",NaN,A66098435000,AIGUES DE BARC

# Convert types

#### Convert "Fecha operacion" and "Fecha valor" to datetime format

In [237]:
finance["Fecha operacion"] = pd.to_datetime(finance["Fecha operacion"], format='%d/%m/%Y')

#### Convert "Ingreso (+)", "Gasto (-)", "Saldo (+)" and "Saldo (-)" to numeric value

In [238]:
def banking_to_numeric(df, column):
    # Replace dots with blankspace (1.000 -> 1000)
    df[column] = df[column].str.replace('.', '', regex=True)
    
    # Replace commas for dots (1,5 -> 1.5)
    df[column] = df[column].str.replace(',', '.', regex=True)
    
    # Convert to numeric
    df[column] = pd.to_numeric(df[column], errors='raise')

In [239]:
to_num_col = ["Ingreso (+)", "Gasto (-)", "Saldo (+)", "Saldo (-)"]

for col in to_num_col:
    banking_to_numeric(finance, col)

In [240]:
finance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1225 entries, 0 to 1224
Data columns (total 8 columns):
Oficina                      1225 non-null int64
Fecha operacion              1225 non-null datetime64[ns]
Ingreso (+)                  147 non-null float64
Gasto (-)                    1078 non-null float64
Saldo (+)                    1224 non-null float64
Saldo (-)                    1 non-null float64
Concepto complementario 1    1225 non-null object
Concepto complementario 2    1225 non-null object
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 76.6+ KB

# Deal with NaN values

#### Knowing that NaN values are complementary attributes (ex: income vs expense) it is safe to fill all with their complementary in another column.

In [241]:
finance["Ingreso y Gasto"] = finance["Ingreso (+)"].fillna(finance["Gasto (-)"] * -1) # It is useful to leave expenses and income separated cols

In [242]:
finance['Saldo'] = finance["Saldo (+)"].fillna(finance["Saldo (-)"])

In [243]:
finance.drop(["Saldo (-)", "Saldo (+)"], inplace=True, axis=1) # These columns have been merged into another so they can be droped

# Rename columns to more useful ones

In [244]:
new_names =  {'Concepto complementario 1': 'Concepto origen',
              'Concepto complementario 2': 'Concepto destino',
              'Saldo (+)': 'Saldo'}

finance.rename(columns=new_names, inplace=True)

In [245]:
finance.columns

Index(['Oficina', 'Fecha operacion', 'Ingreso (+)', 'Gasto (-)',
       'Concepto origen', 'Concepto destino', 'Ingreso y Gasto', 'Saldo'],
      dtype='object')

# Export clean data

In [246]:
finance.head()

,Oficina,Fecha operacion,Ingreso (+),Gasto (-),Concepto origen,Concepto destino,Ingreso y Gasto,Saldo
0,9736,2019-04-17,NaN,1.73,,BON AREA,-1.73,126.98
1,9792,2019-04-17,8.0,NaN,00810900-ADRIA FERRER ABAD,TRANSF. A SU FAVOR,8.00,128.71
2,9792,2019-04-17,9.0,NaN,00810053-PAU SAMPIETRO FABREGAS,TRANSF. A SU FAVOR,9.00,120.71
3,9736,2019-04-16,NaN,25.00,,PECUNIA CARDS EDE,-25.00,111.71
4,569,2019-04-16,NaN,35.08,A66098435000,AIGUES DE BARC,-35.08,136.71

In [247]:
finance.to_csv('finance_clean.csv', index=False)